#chkmsg {
	width:80%;
	height:40%;
	padding:20px;
	margin:20px;
	left:auto;
	right:auto;
}

.center {
	left:auto;
	right:auto;
	text-align: center;
}

div#confirmbutton {
	width:80%;
	right:auto;
	left:auto;
}

#confirmbutton div {
	margin-left: 40%;
}
