<!DOCTYPE html> 
<html> 
<head> 
	<title>Welcome to Promise Fit</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css"/>
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<script type="text/javascript">

	</script>

</head> 
<body> 

<div data-role="page" id="settings">

	<div data-role="header">
		<h1>Settings</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>settings</p>		
	</div><!-- /content -->

	<div data-role="footer" data-id="do" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="checkin.html">Check In</a></li>
				<li><a href="progress.html" >Progress</a></li>
				<li><a href="settings.html" class="ui-btn-active ui-state-persist">Settings</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
</div><!-- /page -->
</body>
</html>